body {
    color: #40DEDD;
    background-color: #40DEDD;
  }
  
  /* Used when the season color scheme is more than one color. An image is used instead of a solid color
  #bg{
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
  }
  */
  h1 {
    color: #40DEDD);
    text-align: center;
  }
  
  .box {
    background: black;
    margin: 3.5% 5% 5% 20%;
    width: 60%;
    height: 80%;
    border-radius: 25px;
    text-align: center;
  }
  
  input[type="radio"] {
    margin: 0 15px 0 15px;
    margin-right: 0;
  }
  
  .box label {
    font-size: 20px;
  }
  
  #MediumTable {
    display: none;
  }
  
  #HardTable {
    display: none;
  }
  
  .tables {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
  
  table,
  th,
  td {
    border: 1px solid #40DEDD;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    font-size: 20px;
  }
  
  th {
    background-color:  rgb(22, 120, 158);
  }
  
  #input {
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
  
  .formatInput {
    display: table-row;
  }
  
  #input label {
    display: table-cell;
    text-align: left;
  }
  
  #input input {
    display: table-cell;
  }
  
  p {
    font-weight: bold;
  }
  
  #button {
    cursor: pointer;
    font-size: 16px;
    background-color:rgb(22, 120, 158);
    color: #40DEDD;
    border-radius: 5px;
    outline: none;
  }
  
