body {
    color: rgb(245, 65, 215);
  }
  
  #bg{
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
  }
  h1 {
    color: rgb(33, 180, 224);
    text-align: center;
  }
  
  .box {
    background: black;
    margin: 5% 5% 5% 10%;
    width: 80%;
    height: 80%;
    border-radius: 25px;
    text-align: center;
  }
  
  input[type="radio"] {
    margin: 0 15px 0 15px;
    margin-right: 0;
  }
  
  .box label {
    font-size: 20px;
  }
  
  #MediumTable {
    display: none;
  }
  
  #HardTable {
    display: none;
  }
  
  .tables {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
  
  table,
  th,
  td {
    border: 1px solid rgb(245, 65, 215);
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    font-size: 20px;
  }
  
  th {
    background-color:  rgb(116, 4, 73);
  }
  
  #input {
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
  
  .formatInput {
    display: table-row;
  }
  
  #input label {
    display: table-cell;
    text-align: left;
  }
  
  #input input {
    display: table-cell;
  }
  
  p {
    font-weight: bold;
  }
  
  #button {
    cursor: pointer;
    font-size: 16px;
    background-color:rgb(116, 4, 73);
    color: rgb(245, 65, 215);
    border-radius: 5px;
    outline: none;
  }
  
